* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #555;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-rendering: optimizeLegibility;
}

/* ---------- Quiz Card Container ---------- */

.card-container {
    background-color: #fff;
    border-radius: 24px;
    height: 559px;
    width: 464px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-title {
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 200%;
    line-height: 54px;
    left: 0;
    transform: translate(0,-70px)
}

.card-img {
    position: absolute;
    right: 0;
    transform: translate(0,-95px);
    background-image: url('../assets/undraw_adventure_4hum 1.svg');
    width: 160px;
    height: 160px;
    background-size: 160px 160px;
}

/* ---------- Quiz Card Question ---------- */

.card-question {
    display: inline-block;
    font-weight: 700;
    font-size: 133%;
    color: #2F527B;
    margin: 68px 32px 25px 32px;
}
.card-question-flag {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 133%;
    color: #2F527B;
    margin: 68px 32px 25px 32px;
}

.card-flag-img {
    display: inline-block;
    margin-right: 20px;
    width: 84px;
    height: 54px;
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
    border-radius: 4px;
}   

/* ---------- Quiz Card Buttons ---------- */

.card-answer {
    display: inline-block;
    color: rgba(96, 102, 208, 0.7);
    border: 2px solid rgba(96, 102, 208, 0.7);
    border-radius: 12px;
    text-decoration: none;
    height: 56px;
    width: 400px;
    margin: 0px 32px 25px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    white-space: nowrap;
}

.card-answer:hover {
    border: 2px solid transparent;
    background-color: #F9A826;
    color: white;
}

.card-answer-letter {
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 133%;
    line-height: 30px;
}

.card-answer-country {
    display: inline-block;
    margin-top: 15px;
    margin-left: 46px;    
}

.card-answer-correct {
    display: inline-block;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 12px;
    text-decoration: none;
    height: 56px;
    width: 400px;
    margin: 0px 32px 25px;
    background-color: #60BF88;
}

.card-answer-correct i {
    position: absolute;
    background-image: url('../assets/check.svg');
    right: 18px;
    margin-right: 32px;
    margin-left: auto;
    margin-top: 18px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}

.card-answer-incorrect {
    display: inline-block;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 12px;
    text-decoration: none;
    height: 56px;
    width: 400px;
    margin: 0px 32px 25px;
    background-color: #ea8282;
}

.card-answer-incorrect i {
    position: absolute;
    background-image: url('../assets/cancel.svg');
    right: 18px;
    margin-right: 32px;
    margin-left: auto;
    margin-top: 18px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}

.card-btn-next {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #F9A826;
    height: 56px;
    width: 116px;
    text-decoration: none;
    border-radius: 12px;
    margin-left: auto;
    margin-right: 32px;
    margin-bottom: 32px;
}

/* ---------- Results Card ---------- */

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    width: 464px;
    height: 542px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.results-img {
    left: 50%;
    margin-top: 49px;
    background-image: url('../assets/undraw_winners.svg');
    width: 238px;
    height: 128px;
    background-size: 238px 128px;
}

.results-title {
    margin-top: 72px;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    color: #1D355D;
}

.results-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #1D355D;
}

.results-text b {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #6fcf97;

}

.try-again-btn {
    width: 209px;
    height: 62px;
    border: 2px solid #1D355D;
    color: #1D355D;
    font-weight: 600;
    border-radius: 12px;
    margin-top: 71px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}