* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #555;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}